* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;

}

body {
    background-color: rgb(255, 251, 246);
}

div {
    background-color: rgba(210, 180, 140, 0.632);
    margin: 15px;
    padding: 10px;

}

.heading {
    background-color: #5f91663b;
    padding: 75px;
}

h1 {
    color: #7b5d11;
    font-size: 100px;
    font-style: oblique;
    font-weight: 700;
    text-align: center;

}

.middle-line {
    height: 100px;
}

.recipe-list {
    background-color: #0000003b;
    font-size: 30px;
    font-weight: 600px;

}

li {
    list-style-type: square;
    padding: 20px;
}

a:visited,
a:link {
    color: #5f9166;
}

a:hover {
    color: #2d3e0e;
}