* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

div {
    background-color: tan;
    padding: 10px;
    margin: 15px;
}

h1 {
    font-size: 100px;
    font-style: oblique;
    font-weight: 1000;
    text-align: center;
    color: #7b5d11;
}

.recipe-list {
    font-size: 30px;
    font-weight: 600px;
}

li {
    text-decoration: wav;
    list-style-type: square;
}

a:visited,
a:link {
    color: #5f9166;
}

a:hover {
    color: #2d3e0e;
}